<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet"  href="https://bootswatch.com/5/materia/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Users</a>

</nav>